<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Placeholder Calculator</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/png" href="placeholder.png">
  <script src="clipboard.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="url">
      <div hidden>{{ isx = url=='via.placeholder.com' ? 'x' : '/' }}</div>
      <div class="suffix">
        <input type="checkbox" v-model="suffix" id="suffix-option">
        <label for="suffix-option">suffix?</label>
      </div>
      <span>https://<select v-model="url" onselect="this.style.width = this.value.length + 'ch';">
          <option>via.placeholder.com</option>
          <option>picsum.photos</option>
          <option>placeimg.com</option>
        </select>/</span>
      <input type="number" v-model="width" tabindex="0" oninput="this.style.width = this.value.length + 'ch';">
      {{ isx }}
      <input type="number" v-model="height" tabindex="0" oninput="this.style.width = this.value.length + 'ch';">
    </div>
    <div class="clipboard">
      <a v-for="x in dpr" href="#!" class="clipboard__grid" :class="'clipboard-' + x + 'x'" :data-clipboard-target="'.clipboard-' + x + 'x-hidden'" :i="x" tabindex="0" onclick="event.preventDefault();">
        <span :class=" 'clipboard-' + x + 'x-display'">https://{{ url }}/{{ width * x || "" }}{{ isx }}{{ height * x || "" }}</span>
        <span :class=" 'clipboard-' + x + 'x-hidden'" class="clipboard-hidden">https://{{ url }}/{{ width * x || "" }}{{ isx }}{{ height * x || "" }}{{ suffix ? (x == 1 ? "" : " " + x + "x") : ""}}</span>
      </a>
    </div>
  </div>
  <script src="work.js" charset="utf-8"></script>
</body>
</html>
