<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <title>Placeholder Calculator</title>
  <link rel="stylesheet" href="style.css">
  <link rel="shortcut icon" type="image/png" href="placeholder.png">
  <script src="clipboard.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <div class="url">
      <span>https://via.placeholder.com/</span>
      <input type="number" v-model="width" tabindex="0" oninput="this.style.width = this.value.length + 'ch';">
      <span>x</span>
      <input type="number" v-model="height" tabindex="0" oninput="this.style.width = this.value.length + 'ch';">
    </div>
    <div class="clipboard">
      <a href="#!" class="clipboard__grid clipboard-1x" data-clipboard-target=".clipboard-1x-hidden" tabindex="0" onclick="event.preventDefault();">
        <span class="clipboard-1x-display">https://via.placeholder.com/{{ width * 1 || "" }}x{{ height * 1 || "" }}</span>
        <span class="clipboard-1x-hidden">https://via.placeholder.com/{{ width * 1 || "" }}x{{ height * 1 || "" }}</span>
      </a>
      <a href="#!" class="clipboard__grid clipboard-2x" data-clipboard-target=".clipboard-2x-hidden" tabindex="0" onclick="event.preventDefault();">
        <span class="clipboard-2x-display">https://via.placeholder.com/{{ width * 2 || "" }}x{{ height * 2 || "" }}</span>
        <span class="clipboard-2x-hidden">https://via.placeholder.com/{{ width * 2 || "" }}x{{ height * 2 || "" }} 2x</span>
      </a>
      <a href="#!" class="clipboard__grid clipboard-3x" data-clipboard-target=".clipboard-3x-hidden" tabindex="0" onclick="event.preventDefault();">
        <span class="clipboard-3x-display">https://via.placeholder.com/{{ width * 3 || "" }}x{{ height * 3 || "" }}</span>
        <span class="clipboard-3x-hidden">https://via.placeholder.com/{{ width * 3 || "" }}x{{ height * 3 || "" }} 3x</span>
      </a>
    </div>
  </div>
  <script src="work.js" charset="utf-8"></script>
</body>
</html>
